section {
    font-family: var(--font-two);
    display: flex;
    margin: auto;
    width: 80%;
}

div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

ul {
    margin-left: auto;
    margin-right: auto;
}

a {
    color: var(--external-link);
    text-decoration: none;
}

a:hover {
    color: var(--color-one)
}

a, p, h1 {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

::deep svg {
    position: relative;
    top: 3px;
}