@page "/about"

<div>
    <ul>
        <li><a href="https://github.com/AndrewCS149/Blazor-Bevy" target="_blank">Link to Repo</a></li>
        <li><a href="https://github.com/AndrewCS149" target="_blank">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/andrew149/" target="_blank">LinkedIn</a></li>
    </ul>
</div>

<img src="./assets/meWithSpear.png" />