section {
    font-family: var(--font-two);
    display: flex;
}

div, ul, p, img, section {
    border: 2px solid red;
    
}


li {
    margin: 2.5px 0px;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}