@page "/about"

<section>
    <div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error adipisci ullam iure, officia illum laborum
            tempora. Beatae architecto expedita voluptatem dolorem saepe praesentium voluptas nemo minima corporis iusto
            fugit, reiciendis similique laborum vero, natus adipisci. Perspiciatis blanditiis adipisci dicta alias
            aspernatur atque exercitationem ut tempore animi nisi. Et repellat nesciunt voluptatibus iure fugiat!
            Eligendi
            nobis sunt quae cumque aliquid explicabo beatae ratione culpa, eos commodi. Dolores veritatis atque possimus
            voluptate deleniti consequatur inventore corrupti quas officiis autem ipsam quos assumenda natus
            perspiciatis,
            quasi ipsa aliquid officia. Deserunt corporis esse facilis dignissimos alias nisi expedita placeat totam,
            voluptatibus ea atque possimus.</p>

        <ul>
            <li><a href="https://github.com/AndrewCS149/Blazor-Bevy" target="_blank">Link to Repo</a></li>
            <li><a href="https://github.com/AndrewCS149" target="_blank">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/andrew149/" target="_blank">LinkedIn</a></li>
        </ul>
    </div>

    <img src="./assets/meWithSpear.png" />
</section>
