h1 {
    border-bottom: 10px solid #626262;
    font-size: 3rem;
    padding: 10px;
}

nav {
    border-right: 10px solid #626262;
    height: 100vh;
    position: fixed;
    width: 6.5rem;
}

ul {
    margin-top: 5px;
}

li {
    font-size: 1.25rem;
    justify-content: right;
    padding: 3.5px;
}

::deep a {
    color: var(--color-two);
    margin-left: 10px;
}

::deep a:hover {
    color: var(--color-one);
}
