:root {
    --primary-color: #EEEEEE;
    --secondary-color: #b9b9b9;
    --background-one: #2B2B2B;
    --background-two: #423F3E;
    --font-one: 'Sigmar One', cursive;
    --font-two: 'Baloo Chettan 2', cursive;
    
    font-size:  16px;
    color: var(--primary-color);

    background-color: var(--background-one);
    font-family: var(--font-one);
}