/* /Shared/MainLayout.razor.rz.scp.css */
header[b-rm53oo6nad] {
    background-color: #423F3E;
}

main[b-rm53oo6nad] {
    background-color: #2B2B2B;
    margin-left: 5rem;
    padding: 1rem;
}
/* /Shared/NavBar.razor.rz.scp.css */
h1[b-smj4jnzafg] {
    border-bottom: 10px solid #626262;
    font-size: 3rem;
    padding: 10px;
}

nav[b-smj4jnzafg] {
    border-right: 10px solid #626262;
    height: 100vh;
    position: fixed;
    width: 5rem;
}

[b-smj4jnzafg] a {
    color: inherit;
    margin-left: 10px;
}

li[b-smj4jnzafg] {
    font-size: 1.25rem;
    justify-content: right;
    padding: 3.5px;
}
