@inject IJSRuntime JS
@page "/about"

<section>
    <div>
        <div>

            <h1>What the heck is Blazing Bevy?</h1>
            <p>Blazing Bevy is a Blazor web assembly application that incorperates an in-browser 2D platformer game
                created using
                the
                Bevy game engine.</p>

            <br><br>
            <h1>Okay, so what is Blazor?</h1>
            <p>Blazor is a <i>single page application</i> .NET framework that uses client side page viewing as opposed
                to
                server side. This means that there is a continuous connection to the server allowing immediate, partial
                page refreshes with the latest data from the server. Blazor also enables it's users the capability of
                writing C# code directly in the browser with virtually no JavaScript. Yes, NO JAVASCRIPT!</p>

            <br><br>
            <h1>Sounds cool! But what is Bevy?</h1>
            <p>Bevy is a young and blossoming Game engine written with the most enjoyable programming language according
                to <a
                    href="https://appetiser.com.au/blog/the-most-loved-and-hated-programming-languages-according-to-developers/"
                    target="_blank">this
                    article</a> written by Appetiser, Rust.
            </p>
        </div>

        <!-- SOCIAL LINKS -->
        <ul>
            <li>
                <a href="https://github.com/AndrewCS149/Blazor-Bevy" target="_blank">
                    <GitHubIcon />
                    Link to Repo
                </a>
            </li>
            <li>
                <a href="https://github.com/AndrewCS149" target="_blank">
                    <GitHubIcon />
                    GitHub
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/andrew149/" target="_blank">
                    <LinkedInIcon />
                    LinkedIn
                </a>
            </li>
        </ul>
    </div>

    <img src="./assets/meWithSpear.png" />
</section>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("canvasState", "hidden");
    }
}
